@import "tailwindcss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: "Josefin Sans";
  src: url(assets/font/JosefinSans-VariableFont_wght.ttf);
}

@theme {
  /* ====== COLOR ====== */

  --color-pink-400: hsl(0, 36%, 70%);
  --color-red-500: hsl(0, 93%, 68%);
  /* Neutral */
  --color-gray-900: hsl(0, 6%, 24%);
  /* Gradients */
  --background-image-gradient-first: linear-gradient(
    135deg,
    hsl(0, 0%, 100%),
    hsl(0, 100%, 98%)
  );
  --background-image-gradient-second: linear-gradient(
    135deg,
    hsl(0, 80%, 86%),
    hsl(0, 74%, 74%)
  );
  /* ====== TYPOGRAPHY ====== */

  --font-josefin-sans: "Josefin Sans", sans-serif;
}
main {
  background: url(assets/images/bg-pattern-desktop.svg);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
